@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}
<h1>City @Model.CityId</h1>
<table class="mines" align="right" style="vertical-align: top;">

        @foreach (var mine in Model.Mines)
        {
        <tr class="@(mine.Type)">
            <td><img src="~/Content/img/icon-@(mine.Type).png"/></td>
            <td>@Html.ActionLink(mine.Type.ToString(), "Details", new { mineId = mine.MineId })</td>
            <td>@mine.Level</td>
            <td>
                <form action="/Mines/IndexUpgrade" method="post">
                    <input type="hidden" name="MineId" value="@mine.MineId">
                    <input type="hidden" name="CityId" value="@Model.CityId">
                    <input type="submit" value="Upgrade" style="border: none; background-color: lightgreen; border-radius: 10px;">
                </form>
            </td>
            <td class="hourProduction">@mine.GetProductionPerHour()</td>
        </tr>
    }

</table>

<table align="left" style="vertical-align: bottom;">
    <tr>
        @foreach (var res in this.Model.Resources)
        {
            <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png" /></td>
            <td class="res-value @(res.Type)">@res.Value.ToString("F4")</td>
            <td class="res-lastUpdate @(res.Type)">@res.LastUpdate</td>
        }
    </tr>

</table>

@section Scripts {
    <script src="~/Scripts/javascript/JavaScript.js"></script>
<script src="~/Scripts/Date.min.js"></script>

}