@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <table class="resourcesTable">
        <tr>
            @foreach (var res in this.Model.Resources)
            {
                <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png" /></td>
                <td class="res-value @(res.Type)">@res.Value.ToString("F4")</td>
                <td class="res-lastUpdate @(res.Type) hidden">@res.LastUpdate</td>
            }
        </tr>
    </table>
    <div class="main">
        <img id="villageImage" src="Content/img/village-bg.jpg" />
        <a href='@Url.Action("Index", "Buildings", new { cityId = Model.CityId })'>
            <img id="cityBuildingsImage" src='@Url.Content("~/Content/img/city_buildings.jpg")' />
        </a>
        <div class="mine-wrapper">
            @foreach (var mine in Model.Mines)
            {
                        @*<a href="@Url.Action("Details", "Mines", new { mineId = mine.MineId })"*@
                
                            <div class="@(mine.Type) mine-level mine-@(mine.Type.ToString().ToLower()) @mine.MineStyle mine-details-btn" data-mine-id="@mine.MineId" style="text-align: center; vertical-align: middle; font-weight: bold;">
                                <div class="hourProduction hidden">@mine.GetProductionPerHour()</div>
                                <div>@mine.Level</div>
                            </div>
                        @*@<!--a-->*@
            }
        </div>
    </div>
    <div id="mine-details-container">
        <div class="close-btn">X</div>
        <div class="content"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/javascript/JavaScript.js"></script>
    <script src="~/Scripts/Date.min.js"></script>
}