@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}

<h2>Buildings</h2>
<body style="background-image:url(Content/img/city.jpg)">
<table>
@foreach (var building in Model.Buildings)
{
    <tr>
        <th>Type</th>
        <th>Level</th>
        <th>Action</th>
    </tr>
    <tr>@{ 
        if (building.BuildingType == null) { 
        <td>Empty</td>
        <td>@building.Level</td>
        <td><a href="@Url.Action("Build", "Buildings", new { buildingId = building.BuildingId, cityId = Model.CityId })">Build</a></td>
        } 
        else
        {
        <td>@building.BuildingType.Name</td>
        <td>@building.Level</td>

        <td>
            @using (Html.BeginForm("Upgrade", "Buildings", new { buildingId = building.BuildingId, cityId = Model.CityId }, FormMethod.Post))
            {
                <input type="image" src="~/Content/img/plus.png" width="15" height="15" id="upgradeButton" class="btTxt submit" value="Upgrade" />
            }
        </td>
        <td>
            <img class="building" src='@Url.Content("~/Content/img/"+@building.BuildingType.Name.ToLower()+".png")' />    
        </td>
        }

        }
    </tr>

}
</table>
</body>