@model WebApplication2.Models.City

@{
    ViewBag.Title = "Index";
}

<h2>Buildings</h2>
<table>
@foreach (var building in Model.Buildings)
{
    <tr>
        <th>Type</th>
        <th>Level</th>
        <th>Action</th>
    </tr>
    <tr>@{ 
        if (building.BuildingType == null) { 
        <td>Empty</td>
        <td>@building.Level</td>
        <td><a href="@Url.Action("Build", "Buildings", new { buildingId = building.BuildingId })">Build</a></td>
        } 
        else
        {
        <td>@building.BuildingType.Name</td>
        <td>@building.Level</td>
        <td><a href="@Url.Action("Build", "Buildings", new { buildingId = building.BuildingId })">Build</a></td>
        }

        }
    </tr>

}
</table>